<p>
<form action="/backend/createarticle" method="post">
title: <input type="text" name="title" /><br/>
content: <textarea name="content"></textarea>
<input type="submit" name="submit" value="save" />
</form>
</p>