<p>
	<ul id="content">
	</ul>
</p>
<p>
	<textarea id="message"></textarea>
	<br/>
	<button onclick="sendmsg();">send</button>
</p>
<p>
	<ul id="list">
	</ul>
</p>
<p>
	<form action="/img" method="post" enctype="multipart/form-data" target="fileupload">
		<input type="file" name="img" />
		<input type="submit" name="submit" value="upload" />
	</form>
</p>
<script src="/socket.io/socket.io.js"></script>
<script>


var socket = io.connect();
socket.on('mymessage', function (msg) {
	$('#content').append('<li>'+msg+'</li>');
});

socket.on('userlist', function (name) {
	var list = '';
	for(var i in name){
		list += '<li>'+name[i]+'</li>';
	}
	$('#list').html(list);
});

socket.emit('login', {name:$.cookie('_USER_'),room:$.cookie('_ROOM_')});
  
function sendmsg(){
	socket.emit('mymessage', {msg:$('#message').val()});
}

function myimg(src){
	socket.emit('mymessage', {pic:src});
}
</script>
<iframe name="fileupload" src="" frameborder="no" style="display:none;"></iframe>