<p>
	<ul id="content">
	</ul>
</p>
<p>
	<textarea id="message"></textarea>
	<br/>
	<button onclick="sendmsg();">send</button>
</p>
<p>
	<ul id="list">
	</ul>
</p>
<p>
	<form action="/img" method="post" enctype="multipart/form-data" target="fileupload">
		<input type="file" name="img" />
		<input type="submit" name="submit" value="upload" />
	</form>
</p>
<script src="/socket.io/socket.io.js"></script>
<script>


var socket = io.connect();
socket.on('mymessage', function (msg) {
	document.getElementById('content').innerHTML += '<li>'+msg+'</li>';
});

socket.on('userlist', function (name) {
	document.getElementById('list').innerHTML += '<li>'+name+'</li>';
});

socket.emit('login', $.cookie('_USER_'));
  
function sendmsg(){
	socket.emit('mymessage', {msg:document.getElementById('message').value});
}

function myimg(src){
	socket.emit('mymessage', {pic:src});
}
</script>
<iframe name="fileupload" src=""></iframe>