<p>
<form action="/chat" method="post">
Usename: <input type="text" name="username" /><br/>
Room: <select name="room">
	<option value="room1">room1</option>
	<option value="room2">room2</option>
	<option value="room3">room3</option>
	</select>
<input type="submit" name="submit" value="login"/>
</form>
</p>